html {
  visibility: hidden;
}

html.wf-active,
html.loading-delay {
  visibility: visible;
}

body {
  margin: 0;
  letter-spacing: 2px;
  font-family: "Comfortaa";
}

h1 {
  font-size: 48px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.2rem;
  }
}

/* ■■■■■ react-datapicker CSS上書き ■■■■■ */

/* 中央寄せにならなかったので下記でリセット */
.react-datepicker-popper {
  position: unset !important;
  inset: unset !important;
  transform: unset !important;
}

/* 下部が下に隠れてしまったので下記でz-indexをあげる */
.react-datepicker {
  z-index: 100 !important;
}

.react-datepicker__header {
  background-color: #092856;
}

.react-datepicker__current-month,
.react-datepicker__day-names .react-datepicker__day-name {
  color: #fff !important;
}

.react-datepicker__day--selected {
  background-color: #f6aa64;
  border-radius: 50%;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background: none;
  border-radius: 50%;
  color: #000;
}

.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__month-text--keyboard-selected:hover,
.react-datepicker__quarter-text--keyboard-selected:hover,
.react-datepicker__year-text--keyboard-selected:hover {
  background-color: #f0f0f0;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
  background-color: #f6aa64;
  border-radius: 50%;
  opacity: 0.5;
}

.react-datepicker__triangle {
  transform: translate3d(127px, 0px, 0px) !important;
}

/* ■■■■■ react-datapicker CSS上書き ■■■■■ */
